    #monsoon-login-main {
        display: table;
        height: 80vh;
    }
        
    #monsoon-login-main .service-login {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      margin: auto auto 20% auto;
    }
    
    #monsoon-login-main form {
        display: block;
        vertical-align: middle;
        margin: 2% auto 20% auto;
        width: 350px;
        font-size: large;
    }
    #monsoon-login-main .input-group, input[type=text], button {
        width: 100%;
    }

    #monsoon-login-main input[type=submit] {
        margin-top: 16px;
    }

    #monsoon-login-main input[type=checkbox] {
	position: relative;
	bottom: 35px;
	left: 120px;
	margin-bottom: -25px;
    }

    #custom_label {
	margin-top: 16px;
    }
    
    #monsoon-login-main .form-control:focus, input[type=submit]:focus {
        border-color: #004B94;
        outline-color: #004B94;
    }
    
    #monsoon-login-main .login_error {
        color: #DE0000;
        font-weight: bold;
        text-align: center;
    }

    #monsoon-login-main .auth-form-header {
        padding: 10px 20px;
        color: #fff;
        background: #004B94;
        border-radius: 3px 3px 0 0;
    }

    #monsoon-login-main .auth-form-body {
        padding: 20px;
        font-size: 14px;
        border: thin silver solid;
        border-top: none;
        border-radius: 0 0 3px 3px;
    }

    #monsoon-login-main #login_submit {
        color: white;
        background: #004B94;
    }

    #monsoon-login-main img {
        margin: auto;
        padding: 0 5% 0 5%;
    }

